body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    letter-spacing: 0.004em;
    color: black;
    background: #d9d9d9;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    font-weight: 400;
  }
  .color-primary {
    color: #369bff
  }
  .success-msg {
    background-color: #36ce53;
    color: white;
    padding: 5px;
    margin-top: 10px;
  }
  .header {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .header .left {
    left: 0;
    top: 0;
  }
  .header .left, .header .right {
    height: 45px;
    display: flex;
    align-items: center;
    position: absolute;
  }
  .header .pageTitle {
    font-size: 16px;
    padding-bottom: 2px;
  }
  .header .right {
    right: 10px;
    top: 0;
  }
  .imaged.w32 {
    width: 32px !important;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }
  .header .pageTitle .logo {
    max-height: 20px;
  }
  .header.text-light .headerButton {
    color: #FFF;
  }
  .header .left .headerButton, .header .right .headerButton {
    min-width: 36px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px 10px 10px;
    color: #6236FF;
    position: relative;
  }
  .imaged {
    height: auto;
    border-radius: 50%;
  }
  .header .badge {
    min-width: 16px;
    height: 16px;
    line-height: 9px !important;
    font-size: 10px;
    padding: 0 4px !important;
    position: absolute;
    right: 2px;
    top: 10px;
  }
  .appBottomMenu .badge {
    min-width: 16px;
    height: 16px;
    line-height: 9px !important;
    font-size: 10px;
    padding: 0 4px !important;
    position: absolute;
  }
  .badge-danger, a.badge-danger {
    background: #FF396F !important;
  }
  .badge {
    font-size: 12px;
    line-height: 1em;
    border-radius: 100px;
    letter-spacing: 0;
    height: 22px;
    /* min-width: 22px; */
    padding: 0 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
  }
  .badge-danger {
    color: #fff;
    background-color: #dc3545;
  }

  .bg {
    background: url(https://brebes-social.id/images/overlay/idul-fitri.webp);
    background-size: contain;
  }
  
  .bg-primary {
    background-color: #0092d9 !important;
    color: #FFF;
    /* background: url(https://brebes-social.id/images/overlay/idul-fitri.webp); */
    /* background-size: contain; */
  }
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  #content-container {
    padding: 45px 0;
  }
  .appBottomMenu {
    height: 50px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #DCDCE9;
    padding-left: 4px;
    padding-right: 4px;
  }
  .appBottomMenu .item {
    font-size: 9px;
    letter-spacing: 0;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .appBottomMenu .item .col {
    width: 100%;
    padding: 0 4px;
    text-align: center;
  }
  .col {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .appBottomMenu .item:before {
    content: '';
    display: block;
    height: 2px;
    border-radius: 0 0 10px 10px;
    background: transparent;
    position: absolute;
    left: 4px;
    right: 4px;
    top: 0;
  }
  .appBottomMenu .item strong {
    margin-top: 4px;
    display: block;
    color: #27173E;
    font-weight: 400;
    transition: 0.1s all;
  }
  .appBottomMenu .item.active:before {
    background: #369bff;
  }
  .appBottomMenu .item.active .icon, .appBottomMenu .item.active ion-icon, .appBottomMenu .item.active strong {
    color: #369bff !important;
    font-weight: 500;
  }
  
  /* Section */
  .content-section {
    position: relative;
  }
  .pt-1 {
    padding-top: 8px !important;
  }
  .section {
    /* padding: 0 10px; */
  }
  .content-section:before {
    /* position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: "";
    display: block;
    height: 80px;
    background: #369bff; */
  }
  textarea {
    resize: none !important;
    border: 1px solid #e5e7eb;
  }
  .btn {
    border-radius: .25rem;
    font-weight: 700;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .home-banner {
    /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 9%); */
    padding: 0px;
    position: relative;
    z-index: 1;
  }
  .step {
    background-color: #eafaff;
    font-size: 12px;
    color: #008cf3;
    padding: 5px;
    border: 1px solid #008cf3;
  }
  .box-shadow {
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  }
  .content {
    background: #ffffff;
    /* box-shadow: 0 1px 2px rgb(0 0 0 / 20%); */
    /* border-radius: 10px; */
    /* padding: 10px 10px 10px 10px; */
    /* position: relative; */
    /* z-index: 1; */
  }
  .content .balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content .wallet-footer {
    border-top: 1px solid #DCDCE9;
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  /* Footer */
  .footer {
    /* margin-top: 5px; */
    border-top: 1px solid #DCDCE9;
    padding: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 1.2em;
  }
  .footer .footer-title {
    font-weight: 500;
    color: #27173E;
    margin-bottom: 8px;
  }
  
  /* Make clicks pass-through */
  #nprogress {
    pointer-events: none;
  }
  
  /* Absolute Center Spinner */
  .loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  /* #nprogress .bar {
    background: black;
  
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 6px;
  } */
  #nprogress .bar {
    background: #4b4c50;  /* fallback for old browsers */
    height: 5px;
    width: 100%;
    /* position: fixed;
    z-index: 1031;
    top: 0;
    left: 0; */
  }
  
  .bar-container {
    background: #d7dadf;
    height: 5px;
    width: 100%;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
  }
  
  /* Fancy blur effect */
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    /* box-shadow: 0 0 10px #29d, 0 0 5px #29d; */
    opacity: 1.0;
  
    -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
            transform: rotate(3deg) translate(0px, -4px);
  }
  
  /* Remove these to get rid of the spinner */
  #nprogress .spinner {
    display: none;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
  }
  
  #nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;
  
    -webkit-animation: nprogress-spinner 400ms linear infinite;
            animation: nprogress-spinner 400ms linear infinite;
  }
  
  .nprogress-custom-parent {
    overflow: hidden;
    position: relative;
  }
  
  .nprogress-custom-parent #nprogress .spinner,
  .nprogress-custom-parent #nprogress .bar {
    position: absolute;
  }
  
  @-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  img, svg, video, canvas, audio, iframe, embed, object {
    display: inline !important;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }